/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background: #f5f5dc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Login Container */
.register-container {
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
    justify-content: center;
}

.title{
    color: #6f6f6f;
    font-weight: 800;
}

/* Heading */
.register-heading {
    margin-bottom: 20px;
    color: #444;
}

/* Input Fields */
/* input {
    width: 100%;
    max-width: 250px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
} */

input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Submit Button */
button {
    width: 100%;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 50px;
}

button:hover {
    background: #409543;
}

/* Responsive Design */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 1.5rem;
    }
}

.email-container, .username-container, .password-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.email-container input, .password-container input{
    width: 100%;
    padding-right: 30px;
    border: 1px solid #ccc;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    transition: border 0.3s;
}

.username-container input{
    width: 100%;
    padding-right: 30px;
    border: 1px solid #ccc;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    transition: border 0.3s;
}

.error-icon {
    position: absolute;
    right: 10px;
    margin-left: 15px;
    color: red;
    display: none; 
}